## Basic Data Types
    int - whole numbers
    float - decimal numbers
    str (object) - text
    Boolean - True or False
    None type`

### Integers and Floats

In [1]:
2

2

In [3]:
type(2)

int

In [4]:
type(2.1)

float

In [6]:
type(2/3)

float

In [10]:
## Operations
5//2
5%2

1

In [27]:
2/0

ZeroDivisionError: division by zero

### Booleans

In [12]:
type(True)

bool

In [13]:
type(False)

bool

### Comparison depends on Booleans

In [14]:
type(5>2)

bool

In [15]:
5>2

True

In [16]:
5>2 and 1==3

False

In [17]:
5>2 or 1==3

True

In [18]:
5!=2

True

In [19]:
5-2>=3

True

In [20]:
(5-2>=3)+(1==1)

2

### Casting variables

In [ ]:
int(True)

In [23]:
str(True)

'True'

In [24]:
type(str(2))

str

### Datetime

In [79]:
from datetime import datetime as dt
# datetime documentation https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [87]:
date = dt.strptime('12-06-1983', '%d-%m-%Y')

In [92]:
print(date)

1983-06-12 00:00:00

In [95]:
print ('My year of birth is {}.'.format(date.year))

My year of birth is 1983.

In [99]:
diff=dt.strptime('02-02-1983','%d-%m-%Y')-date

In [102]:
diff.days

-130

### Strings are objects (they have their own methods)

In [ ]:
## Functions (methods) on strings

sentence='I will become succesfull Data Scientist'

In [ ]:
sentence.lower()

In [ ]:
sentence.upper

In [ ]:
sentence.split()

In [ ]:
tweet='Hello #sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[-1]

## Compound (Composite) data types

### Lists (collections of objects)

In [25]:
[]

[]

In [26]:
type([])

list

In [29]:
my_list=[2,3,5,7]

In [31]:
my_list[0]

2

In [40]:
my_list.append(120)

In [66]:
my_list.pop()

120

In [67]:
my_list

[2, 3, 5, 7]

In [68]:
my_list.pop(0)

2

In [69]:
# Check if item is inside the list
3 in my_list

True

### Tuples (immutable)

In [32]:
(2,3,4)

(2, 3, 4)

In [33]:
(2,3,4)[0]

2

In [34]:
tup=(2, "a", [2,3])

In [36]:
tup[2]

[2, 3]

In [37]:
tup[2]=1

TypeError: 'tuple' object does not support item assignment

In [48]:
x, y, z = tup

In [49]:
print(x+y+z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
print(str(x)+str(y)+str(z))

2a[2, 3]

In [55]:
print("asdasdasdasd {} sadasdas {} sadasds {}".format(x,y,z))

asdasdasdasd 2 sadasdas a sadasds [2, 3]

In [79]:
from datetime import datetime as dt
# datetime documentation https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [87]:
date = dt.strptime('12-06-1983', '%d-%m-%Y')

In [92]:
print(date)

1983-06-12 00:00:00

In [90]:
print ( .format(date.year))

1983

### Dictionaries

In [42]:
teaching={"Sandro":"DW","Milan": "SPI"}

In [43]:
teaching["Sandro"]

'DW'

In [45]:
teaching # Dict is not ordered, cannot be accessed through index

{'Milan': 'SPI', 'Sandro': 'DW'}

In [46]:
teaching.update({"Boris":"SPI"})

In [47]:
teaching

{'Boris': 'SPI', 'Milan': 'SPI', 'Sandro': 'DW'}

In [58]:
teaching.keys()

dict_keys(['Sandro', 'Boris', 'Milan'])

In [59]:
teaching.values()

dict_values(['DW', 'OZP', 'SPI'])

In [60]:
teaching.items()

dict_items([('Sandro', 'DW'), ('Boris', 'OZP'), ('Milan', 'SPI')])

In [61]:
teaching.update({'Boris':"OZP"})

In [62]:
teaching

{'Boris': 'OZP', 'Milan': 'SPI', 'Sandro': 'DW'}

In [ ]:
teaching.update

In [ ]:
#Other ways for string intrapolation
# Or this:
print "foo is {bar}".format(bar=bar)

# Or this:
print "foo is %s" % (bar, )

# Or even this:
print "foo is %(bar)s" % {"bar": bar}

### Task For Data Types

#### Create list with 5 elements: 
- name: Your Name and Surname (separated by space)
- email: Your email
- date: Todays date
- last: Your last grade on MSc studies
- avg: Your average grade on BSc studies

#### Put all variables to a list
#### From the list create dictionary that will have 5 keys: name, surname, and diff (last-avg)
#### Print all key-value pairs from dictionary
#### Create tuple that contains
    - name, surname and initials (first letters from name and surname separated with '_')
#### How many days has past from March 14th 2015?

In [116]:
a={'name':[10,2]}

In [117]:
a['name'][1]

2