# Pandas package
    - Efficient data manipulation through Dataframe structure
    - Pandas Dataframe based on Numpy (efficient calculations and data wrangling)
    - Similar to R data manipulation
    - Similar to SQL

# Importing Existing Datasets (PyDataset and ScikitLearn libraries)

In [1]:
!pip install pydataset
import pandas as pd
from pydataset import data
from sklearn import datasets
# There is also arcGis pro

Requirement already satisfied: pydataset in /Users/user/anaconda/lib/python3.5/site-packages
Requirement already satisfied: pandas in /Users/user/anaconda/lib/python3.5/site-packages (from pydataset)
Requirement already satisfied: python-dateutil>=2 in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: pytz>=2011k in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: numpy>=1.7.0 in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: six>=1.5 in /Users/user/anaconda/lib/python3.5/site-packages (from python-dateutil>=2->pandas->pydataset)

In [2]:
titanic=data('titanic')

In [5]:
titanic.head(5)

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [6]:
len(titanic)

1316

In [8]:
titanic.shape

(1316, 4)

In [20]:
titanic.size

5264

In [12]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [14]:
titanic.dtypes

class       object
age         object
sex         object
survived    object
dtype: object

### Pandas Series
  - documentation: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html

In [21]:
titanic['age'].size

1316

In [22]:
print(type(titanic))
print(type(titanic['age']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [23]:
print(titanic.age)

1       adults
2       adults
3       adults
4       adults
5       adults
6       adults
7       adults
8       adults
9       adults
10      adults
11      adults
12      adults
13      adults
14      adults
15      adults
16      adults
17      adults
18      adults
19      adults
20      adults
21      adults
22      adults
23      adults
24      adults
25      adults
26      adults
27      adults
28      adults
29      adults
30      adults
31      adults
32      adults
33      adults
34      adults
35      adults
36      adults
37      adults
38      adults
39      adults
40      adults
41      adults
42      adults
43      adults
44      adults
45      adults
46      adults
47      adults
48      adults
49      adults
50      adults
51      adults
52      adults
53      adults
54      adults
55      adults
56      adults
57      adults
58      adults
59      adults
60      adults
61      adults
62      adults
63      adults
64      adults
65      adults
66      adults
67      adults
68      adults
69      adults
70      adults
71      adults
72      adults
73      adults
74      adults
75      adults
76      adults
77      adults
78      adults
79      adults
80      adults
81      adults
82      adults
83      adults
84      adults
85      adults
         ...
1232    adults
1233    adults
1234    adults
1235    adults
1236    adults
1237    adults
1238     child
1239     child
1240     child
1241     child
1242     child
1243     child
1244     child
1245     child
1246     child
1247     child
1248     child
1249     child
1250     child
1251     child
1252     child
1253     child
1254     child
1255     child
1256     child
1257     child
1258     child
1259     child
1260     child
1261     child
1262     child
1263     child
1264     child
1265     child
1266     child
1267     child
1268     child
1269     child
1270     child
1271     child
1272     child
1273     child
1274     child
1275     child
1276     child
1277     child
1278     child
1279     child
1280     child
1281     child
1282     child
1283     child
1284     child
1285     child
1286     child
1287     child
1288     child
1289     child
1290     child
1291     child
1292     child
1293     child
1294     child
1295     child
1296     child
1297     child
1298     child
1299     child
1300     child
1301     child
1302     child
1303     child
1304     child
1305     child
1306     child
1307     child
1308     child
1309     child
1310     child
1311     child
1312     child
1313     child
1314     child
1315     child
1316     child
Name: age, dtype: object

In [25]:
titanic.age.unique()

array(['adults', 'child'], dtype=object)