# Pandas

In [2]:
'''
Environment
Anaconda
Jupyter notebooks
Python 2, Python 3
Examples on Kaggle
Spider, Pycharm
'''

'\nEnvironment\nAnaconda\nJupyter notebooks\nPython 2, Python 3\nExamples on Kaggle\n'

In [3]:
'''
Libraries
  Pandas, Data structures and tools 
  Numpy,Arrays and Matrices
  Scipy - Integrals, Differentials, optimization, statistics
  Installation - pip
'''

'\nLibraries\n  Pandas, Data structures and tools \n  Numpy,Arrays and Matrices\n  Scipy - Integrals, Differentials, optimization\n'

In [4]:
'''
Data Vizualization

Matplotlib
Seaborn (based on matplotlib)
'''

'\nData Vizualization\n\nMatplotlib\nSeaborn (based on matplotlib)\n'

In [5]:
'''
Algorithmic

Scikit-learn - machine learning, based on numpy, scipy, matplotlib
StatsModel - Explore data, estimate statistical models, statistical tests


'''

'\nAlgorithmic\n\nScikit-learn - machine learning, based on numpy, scipy, matplotlib\nStatsModel - Explore data, estimate statistical models, statistical tests\n\n\n'

In [ ]:
'''
Importing and exporting data in Python
'''
# Existing data

#importing data
Format and Path

In [ ]:
#Read_csv with pandas

import pandas as pd
url=""
df=pd.read_csv(url) # Rad csv assumes that data has headers (i9f no )

df.head(n) # Print first or last names
df.teail()

In [ ]:
# Define headers
headers=[]
df.columns=headers

path="https://archive.ics.uci.edu/autos/imports-85.data"
df.to_csv(path)
## also

df.read_json()
df.read_sql
df.read_sql

In [13]:
path="https://archive.ics.uci.edu/autos/imports-85.data"

In [1]:
### Accessing Pandas dataframe


#Columns

# Rows

# Single cell

# Update value

In [ ]:
### Merging and combining Pandas

In [15]:
### Missing values

Collecting pydataset
  Downloading pydataset-0.2.0.tar.gz (15.9MB)
    100% |████████████████████████████████| 15.9MB 31kB/s
Requirement already satisfied: pandas in /Users/user/anaconda/lib/python3.5/site-packages (from pydataset)
Requirement already satisfied: python-dateutil>=2 in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: pytz>=2011k in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: numpy>=1.7.0 in /Users/user/anaconda/lib/python3.5/site-packages (from pandas->pydataset)
Requirement already satisfied: six>=1.5 in /Users/user/anaconda/lib/python3.5/site-packages (from python-dateutil>=2->pandas->pydataset)
Installing collected packages: pydataset
  Running setup.py install for pydataset ... - \ | / done
Successfully installed pydataset-0.2.0

In [31]:
boston=datasets.load_boston().data

In [32]:
pd.DataFrame(boston).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [ ]:
data('ancombe') # Describe methods and find list

In [18]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [20]:
titanic.tail()

          class    age    sex survived
1312  3rd class  child  women       no
1313  3rd class  child  women       no
1314  3rd class  child  women       no
1315  3rd class  child  women       no
1316  3rd class  child  women       no

In [4]:
housing=data('Housing')

In [23]:
### Missing values
https://pandas.pydata.org/pandas-docs/stable/missing_data.html

Did you mean:
Anscombe, anscombe, income, acme, newcomb, cancer, OME, voteincome, cane, anorexia, brambles

AttributeError: module 'pydataset' has no attribute 'ListDatasets'

In [29]:
housing.columns

Index(['price', 'lotsize', 'bedrooms', 'bathrms', 'stories', 'driveway',
       'recroom', 'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea'],
      dtype='object')

In [30]:
housing.dtypes

price       float64
lotsize       int64
bedrooms      int64
bathrms       int64
stories       int64
driveway     object
recroom      object
fullbase     object
gashw        object
airco        object
garagepl      int64
prefarea     object
dtype: object

In [46]:
#change datatypes
air=data('airquality')
air.shape[0]

153

In [44]:
air.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [45]:
air.dropna(subset=['Solar.R'], axis=0, inplace=False).shape[0]

146

In [48]:
mean_ozone = air['Ozone'].mean()

In [50]:
type(None)

NoneType

In [ ]:
air.replace(subset=['Solar.R'], mean)

In [ ]:
air.fillna()

In [ ]:
'''
Documentation
https://pandas.pydata.org
'''

In [28]:
housing.describe()

,price,lotsize,bedrooms,bathrms,stories,garagepl
count,546.000000,546.000000,546.000000,546.000000,546.000000,546.000000
mean,68121.597070,5150.265568,2.965201,1.285714,1.807692,0.692308
std,26702.670926,2168.158725,0.737388,0.502158,0.868203,0.861307
min,25000.000000,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,49125.000000,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,62000.000000,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,82000.000000,6360.000000,3.000000,2.000000,2.000000,1.000000
max,190000.000000,16200.000000,6.000000,4.000000,4.000000,3.000000

In [ ]:
#unique, top, frequency
#df.info -top and bottom 30 rows of the dataframe

In [ ]:
'''
FILTERING (SLICING-DICING)
'''

In [ ]:
'''
Data Preprocessing (Data Cleaning, Wrangling)
 - Identify and handle missing values
 - Data Formatting
 - Data Normalization (centering, scaling
 - Data Bining
 - Turning Categorical variables into numerical ones)
'''

#Each column is one pandas series

In [33]:
housing["price"]=housing["price"]+2345

In [ ]:
# Task - Change one value at specific position

In [35]:
housing.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,44345,5850,3,1,2,yes,no,yes,no,no,1,no
2,40845,4000,2,1,1,yes,no,no,no,no,0,no
3,51845,3060,3,1,1,yes,no,no,no,no,0,no
4,62845,6650,3,1,2,yes,yes,no,no,no,0,no
5,63345,6360,2,1,1,yes,no,no,no,no,0,no

In [ ]:
# Dealing with Missing values (could be represented as ?, NA, 0, Blank cell)
# Find missing value (hard task)
# Drop row
# Drop column
# Impute (avg (maybe on similar data points - clustering), mode (frequency), model)
# Leave missing data (observation is importand)

In [ ]:
# Count missing values, select attributes with missing values
housing.N

In [6]:
housing.filter(housing['price'] is None)

TypeError: 'bool' object is not iterable

In [ ]:
# Drop missing values
housing.dropna(subset=['lotsize'], axis=0, inplace=True)
#axis - drops the entire row (0), or column (1)
#inplace - directly on dataset, no need for reasigning (without inplace check )

In [8]:
# Replace missing values
#housing.replace()
import numpy as np
mean=housing["lotsize"].mean()
housing["lotsize"].replace(np.nan, mean)

1       5850
2       4000
3       3060
4       6650
5       6360
6       4160
7       3880
8       4160
9       4800
10      5500
11      7200
12      3000
13      1700
14      2880
15      3600
16      3185
17      3300
18      5200
19      3450
20      3986
21      4785
22      4510
23      4000
24      3934
25      4960
26      3000
27      3800
28      4960
29      3000
30      4500
31      3500
32      3500
33      4000
34      4500
35      6360
36      4500
37      4032
38      5170
39      5400
40      3150
41      3745
42      4520
43      4640
44      8580
45      2000
46      2160
47      3040
48      3090
49      4960
50      3350
51      5300
52      4100
53      9166
54      4040
55      3630
56      3620
57      2400
58      7260
59      4400
60      2400
61      4120
62      4750
63      4280
64      4820
65      5500
66      5500
67      5040
68      6000
69      2500
70      4095
71      4095
72      3150
73      1836
74      2475
75      3210
76      3180
77      1650
78      3180
79      3180
80      6360
81      4240
82      3240
83      3650
84      3240
85      3780
       ...
462     2145
463     2610
464     1950
465     2145
466     2275
467     2856
468     2015
469     2176
470     2145
471     2145
472     2787
473     9500
474     4990
475     6670
476     6254
477    10360
478     5500
479     5450
480     5500
481     6000
482     5700
483     6600
484     4000
485     4880
486     4880
487     8050
488     8100
489     5880
490     5880
491    12944
492     6020
493     4050
494     8400
495     5600
496     5985
497     4500
498     4920
499     8250
500     8400
501     6440
502     8100
503     6720
504     5948
505     8150
506     4800
507     9800
508     8520
509     8372
510     4040
511     4646
512     4775
513     4950
514     5010
515     6060
516     3584
517     6000
518     6000
519     6240
520     6000
521     7680
522     6000
523     6000
524     6000
525     6000
526     7475
527     5150
528     6325
529     6000
530     6000
531     6000
532     7000
533    12900
534     7686
535     5000
536     5800
537     6000
538     4800
539     6500
540     7320
541     6525
542     4800
543     6000
544     6000
545     6000
546     6000
Name: lotsize, dtype: int64

In [ ]:
# Data Formatting
#Applying to entire colum (convert data)
housing ['lotsize']=1000/housing['lotsize']
housing.rename(columns={'lotsize':'lotsize_scaled'}, inplace=True)

In [12]:
housing.isnull()
housing.isnull().sum()

price       0
lotsize     0
bedrooms    0
bathrms     0
stories     0
driveway    0
recroom     0
fullbase    0
gashw       0
airco       0
garagepl    0
prefarea    0
dtype: int64

In [13]:
data.ListDataset()

AttributeError: 'function' object has no attribute 'ListDataset'

In [ ]:
# Data_types
housing['lotsize']=housing['lotsize'].astype('str')

In [ ]:
# Pivot tables