# Basic Data Types
    int - whole numbers
    float - decimal numbers
    str (object) - text
    Boolean - True or False
    None type

## Integers and Floats

In [36]:
print(2)
type(2)
type(2.1)
type(2/3) # Note: in Python2 this would give an error 2. In order to convert to float do: 2/3.0

2

float

In [3]:
##  Basic operations
print(5*2)
print(5+2)
print(5//2)
print(5%2)
#print(2/0)

10
7
2
1

## Booleans

In [12]:
print(type(True))
print(type(False))

bool

### Comparison depends on Booleans

In [14]:
type(5>2)

bool

In [39]:
print(5>2)
print(5>2 and 1==3)
print(5>2 or 1==3)
print(5!=2)
print(5-2>=3)
print((5-2>=3)+(1==1))

True
False
True
True
True
2

In [7]:
# Booleans are internaly represented as 0s (False) and 1s (True), so math operations can be conducted
print(True + False)
print(False  + False)
print(True + True)
print(True * True)

1
0
2
1

### Casting variables

In [42]:
print(int(True))
print(str(True))
print(type(str(2)))
print(float(3))

1
True
<class 'str'>
3.0

### Datetime

 - datetime documentation: https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior
 - another great example: https://stackabuse.com/how-to-format-dates-in-python/

In [8]:
from datetime import datetime as dt

In [9]:
import datetime

In [10]:
datetime.date.today()

datetime.date(2019, 2, 12)

In [11]:
# create datetime from string
date = dt.strptime('12-06-1983', '%d-%m-%Y')
print(date)
date

1983-06-12 00:00:00

datetime.datetime(1983, 6, 12, 0, 0)

In [45]:
print(date.month)
print(date.day)
print(type(date.month))

6
12
<class 'int'>

In [60]:
# Create string from datetime

In [46]:
print ('My year of birth is ' + str(date.year)) 
# String and Int cannot be added (without casting exceprion would occur)

My year of birth is 1983

In [21]:
diff = dt.strptime('02-02-1983','%d-%m-%Y')-date
diff.days

### Strings are objects (they have their own methods)

In [ ]:
## Functions (methods) on strings

sentence='I will become succesfull Data Scientist'

In [ ]:
sentence.lower()

In [ ]:
sentence.upper

In [ ]:
sentence.split()

In [2]:
tweet='Hello #sports'

In [3]:
tweet.split('#')

['Hello ', 'sports']

In [4]:
tweet.split('#')[-1]

'sports'

## Compound (Composite) data types

### Lists (collections of objects)

In [25]:
[]

[]

In [26]:
type([])

list

In [29]:
my_list=[2,3,5,7]

In [31]:
my_list[0]

2

In [40]:
my_list.append(120)

In [66]:
my_list.pop()

120

In [67]:
my_list

[2, 3, 5, 7]

In [68]:
my_list.pop(0)

2

In [69]:
# Check if item is inside the list
3 in my_list

True

In [12]:
### Strings are represented as lists (arrays of characters)

In [13]:
tweet='Hello #sports'
print('Character at position 0 in {} is {}'.format(tweet, tweet[0]))
print(tweet[2])
print(tweet[0:3])
print(tweet[-1])
print(tweet[:-1])
print(tweet[-3:])
print(tweet[-3])

Character at position 0 in Hello #sports is H
l
Hel
s
Hello #sport
rts
r

In [14]:
'''
Lists can be sliced based on start and end indices. Additionally, step can be defined

a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1 (operator is not inclusive)
a[:]         # a copy of the whole array
a[::step]    # items from the beginning with skipped by step
'''

'\nLists can be sliced based on start and end indices. Additionally, step can be defined\n\na[start:end] # items start through end-1\na[start:]    # items start through the rest of the array\na[:end]      # items from the beginning through end-1 (operator is not inclusive)\na[:]         # a copy of the whole array\na[::step]    # items from the beginning with skipped by step\n'

In [15]:
new_list = [50, 100, 68, 33, 55, 14, 17]
new_list[-1]
new_list[:-1]
new_list[:-2]
new_list[-2:]
new_list[:]
new_list[::-1] # inverse list - From beggining to the end with step -1
new_list[1:5:2]

[100, 33]

### Tuples (immutable)

In [32]:
(2,3,4)

(2, 3, 4)

In [33]:
(2,3,4)[0]

2

In [34]:
tup=(2, "a", [2,3])

In [36]:
tup[2]

[2, 3]

In [37]:
tup[2]=1

TypeError: 'tuple' object does not support item assignment

In [48]:
x, y, z = tup

In [49]:
print(x+y+z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [52]:
print(str(x)+str(y)+str(z))

2a[2, 3]

In [55]:
print("asdasdasdasd {} sadasdas {} sadasds {}".format(x,y,z))

asdasdasdasd 2 sadasdas a sadasds [2, 3]

In [79]:
from datetime import datetime as dt
# datetime documentation https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [87]:
date = dt.strptime('12-06-1983', '%d-%m-%Y')

In [92]:
print(date)

1983-06-12 00:00:00

In [90]:
print ( .format(date.year))

1983

### Dictionaries

In [4]:
teaching={"Sandro":"DW","Milan": "SPI"}

In [5]:
teaching["Sandro"]

'DW'

In [6]:
teaching # Dict is not ordered, cannot be accessed through index... There is special type OrderedDict

{'Milan': 'SPI', 'Sandro': 'DW'}

In [7]:
teaching.update({"Boris":"SPI"})

In [8]:
teaching

{'Boris': 'SPI', 'Milan': 'SPI', 'Sandro': 'DW'}

In [9]:
teaching.keys()

dict_keys(['Milan', 'Boris', 'Sandro'])

In [10]:
teaching.values()

dict_values(['SPI', 'SPI', 'DW'])

In [11]:
teaching.items()

dict_items([('Milan', 'SPI'), ('Boris', 'SPI'), ('Sandro', 'DW')])

In [12]:
teaching.update({'Boris':"OZP"})

In [13]:
teaching

{'Boris': 'OZP', 'Milan': 'SPI', 'Sandro': 'DW'}

In [14]:
teaching.update

In [ ]:
#Other ways for string intrapolation
# Or this:
print "foo is {bar}".format(bar=bar)

# Or this:
print "foo is %s" % (bar, )

# Or even this:
print "foo is %(bar)s" % {"bar": bar}

### Removing dict items

In [15]:
del teaching['Milan']

In [16]:
teaching

{'Boris': 'OZP', 'Sandro': 'DW'}

# Control structures

## If, Elif, Else

In [ ]:
if 5>3:
    print(True)
tweet='Today is beautifull day'
len(tweet)

if len(tweet)<20:
    print ('{} is too short'.format(sentence))
else:
    print('{} is OK!'.format(tweet))

print ("Beautifull" in sentence)
print ("beautifull" in sentence)
if 'beautifull' in sentence:
      print ('Sentiment is Positive')
elif 'nice' in sentence:
      print("Sentiment is Neutral")
else: print("Sentiment is Bad")
    
sentiment_word='Beautifull'
sentiment_word.lower()
print(sentiment_word)
sentiment_word=sentiment_word.lower()

## For Loop

In [ ]:
numbers=[1, 6, 7, 10, 9]
for number in numbers:
    print(number)
total_sum=0
for number in numbers:
    total_sum+=number
print(total_sum)

In [ ]:
total_sum=0
for number in numbers:
    total_sum+=number
print(total_sum)

### List comprehensions
List comprehension execute iterative procedure and automatically appends elements to list (also works with dictionaries). List comprehensions make more readable code in less lines compared to standard way

In [18]:
our_list = [2,3,4,7,6]

In [21]:
# Add 10 to each element of the list
[element+10 for element in our_list]

[12, 13, 14, 17, 16]

In [22]:
# select all all even elements (x%2 == 0)
my_list = [x for x in our_list if x %2 ==0]
my_list

[2, 4, 6]

## Range
Range is frequently used function that generates a list of numbers, which is generally used to iterate over with for loops: range([start], stop[, step])

In [27]:
r=range(5)
print(range)
print(list(r)) # range can be converted to list

<class 'range'>
[0, 1, 2, 3, 4]

In [29]:
numbers = [2,3,1,4,5]
for i in range(5):
    print(numbers[i])

2
3
1
4
5
10
8
6
4
2

In [30]:
for num in range (10,1,-2):
    print(num)

10
8
6
4
2

## While Loop

In [ ]:
from random import randint
our_list=[]
max_sum=100
total_sum=0
while total_sum<max_sum:
    num=randint(0,100)
    our_list.append(num)
    total_sum+=num
print(our_list)

## Repeat until simulation

In [ ]:
our_list=[]
max_sum=0
while (True):
    num=randint(0, 100)
    our_list.append(num)
    max_sum+=num
    if max_sum>100:
        break

# Functions

In [33]:
def my_func():
    print("Hello!")

def square_it(x):
    return x**2

In [34]:
#tab is working for autocomplete
# parametrized functions and docstrings

def exponentiate(x, e):
    '''
    This function is awesome
    '''
    return x**e

In [ ]:
exponentiate #shift+tab to call docstring

In [35]:
#parameters can have default values
def exponentiate(x, e=2):
    return x**e

print(exponentiate(x=2, e=4))
print(exponentiate(2))

16
4

In [31]:
# !!!!! Check functions anad give meaninful lambda functions
# https://www.tutorialspoint.com/python/python_functions.htm


# In order to save result function have to return something
a=my_func()
type(a)


# simple functions (anonimous) that are used only once... Mostly called as parameters of other functions
lambda var: var**2 # returns var**2
filtered = filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9])
mult3 = filter(lambda x: x % 3 == 0, [1, 2, 3, 4, 5, 6, 7, 8, 9])
print(mult3)
[3,4,5,6]
def less5(x):
    return(x<5)
list(filter(less5, [3,4,5,6]))

NameError: name 'second_func' is not defined

### Task For Python Basics

#### Create list with 5 elements: 
- name: Your Name and Surname (separated by space)
- email: Your email
- date: Todays date
- last: Your last grade on MSc studies
- avg: Your average grade on BSc studies

#### Put all variables to a list
#### From the list create dictionary that will have 5 keys: name, surname, and diff (last-avg)
#### Print all key-value pairs from dictionary
#### Create tuple that contains
    - name, surname and initials (first letters from name and surname separated with '_')
#### How many days has past from March 14th 2015?