# Data Mining and Machine Learning

In [39]:
from sklearn.ensemble import RandomForestClassifier
from pydataset import data
import numpy as np

In [3]:
data()

,dataset_id,title
0,AirPassengers,Monthly Airline Passenger Numbers 1949-1960
1,BJsales,Sales Data with Leading Indicator
2,BOD,Biochemical Oxygen Demand
3,Formaldehyde,Determination of Formaldehyde
4,HairEyeColor,Hair and Eye Color of Statistics Students
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
...,...,...
672,students,Student Risk Taking
673,suicides,Crowd Baiting Behaviour and Suicides
674,toothpaste,Toothpaste Data
675,voting,House of Representatives Voting Data
676,water,Mortality and Water Hardness
677,watervoles,Water Voles Data
678,waves,Electricity from Wave Power at Sea
679,weightgain,Gain in Weight of Rats
680,womensrole,Womens Role in Society
681,Bechtoldt,Seven data sets showing a bifactor solution.
682,Bechtoldt.1,Seven data sets showing a bifactor solution.
683,Bechtoldt.2,Seven data sets showing a bifactor solution.
684,Dwyer,8 cognitive variables used by Dwyer for an example.
685,Gleser,"Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g..."
686,Gorsuch,Example data set from Gorsuch (1997) for an example factor extension.
687,Harman.5,5 socio-economic variables from Harman (1967)
688,Harman.8,"Correlations of eight physical variables (from Harman, 1966)"
689,Harman.political,Eight political variables used by Harman (1967) as example 8.17
690,Holzinger,Seven data sets showing a bifactor solution.
691,Holzinger.9,Seven data sets showing a bifactor solution.
692,Reise,Seven data sets showing a bifactor solution.
693,Schmid,12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
694,Thurstone,Seven data sets showing a bifactor solution.
695,Thurstone.33,Seven data sets showing a bifactor solution.
696,Tucker,9 Cognitive variables discussed by Tucker and Lewis (1973)
697,ability,16 ability items scored as correct or incorrect.
698,affect,Two data sets of affect and arousal scores as a function of personality and movie cond...
699,bfi,25 Personality items representing 5 factors
700,bfi.dictionary,25 Personality items representing 5 factors
701,blot,Bond's Logical Operations Test - BLOT
702,burt,11 emotional variables from Burt (1915)
703,cities,Distances between 11 US cities
704,cubits,Galton's example of the relationship between height and 'cubit' or forearm length
705,cushny,A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
706,epi,Eysenck Personality Inventory (EPI) data for 3570 participants
707,epi.bfi,13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
708,epi.dictionary,Eysenck Personality Inventory (EPI) data for 3570 participants
709,galton,Galton's Mid parent child height data
710,heights,A data.frame of the Galton (1888) height and cubit data set.
711,income,US family income from US census 2008
712,iqitems,16 multiple choice IQ items
713,msq,75 mood items from the Motivational State Questionnaire for 3896 participants
714,neo,NEO correlation matrix from the NEO_PI_R manual
715,peas,Galton's Peas
716,sat.act,"3 Measures of ability: SATV, SATQ, ACT"
717,withinBetween,An example of the distinction between within group and between group correlations
718,Bosco,Boscovich Data
719,CobarOre,Cobar Ore data
720,Mammals,Garland(1983) Data on Running Speed of Mammals
721,barro,Barro Data
722,engel,Engel Data
723,uis,UIS Drug Treatment study data
724,dietox,Growth curves of pigs in a 3x3 factorial experiment
725,koch,Ordinal Data from Koch
726,ohio,Ohio Children Wheeze Status
727,respdis,Clustered Ordinal Respiratory Disorder
728,respiratory,Data from a clinical trial comparing two treatments for a respiratory illness
729,seizure,Epiliptic Seizures
730,sitka89,Growth of Sitka Spruce Trees
731,spruce,Log-size of 79 Sitka spruce trees
732,liver,Liver related laboratory data
733,portpirie,"Rain, wavesurge and portpirie datasets."
734,rain,"Rain, wavesurge and portpirie datasets."
735,summer,"Air pollution data, separately for summer and winter months"
736,wavesurge,"Rain, wavesurge and portpirie datasets."
737,winter,"Air pollution data, separately for summer and winter months"
738,arthritis,Rheumatoid Arthritis Clinical Trial
739,housing,Homeless Data
740,bmw,Daily Log Returns on BMW Share Price
741,danish,Danish Fire Insurance Claims
742,nidd.annual,The River Nidd Data
743,nidd.thresh,The River Nidd Data
744,siemens,Daily Log Returns on Siemens Share Price
745,sp.raw,SP Data to June 1993
746,spto87,SP Return Data to October 1987
747,Dyestuff,Yield of dyestuff by batch
748,Dyestuff2,Yield of dyestuff by batch
749,InstEval,University Lecture/Instructor Evaluations by Students at ETH
750,Pastes,Paste strength by batch and cask
751,Penicillin,Variation in penicillin testing
752,VerbAgg,Verbal Aggression item responses
753,cake,Breakage Angle of Chocolate Cakes
754,cbpp,Contagious bovine pleuropneumonia
755,grouseticks,Data on red grouse ticks from Elston et al. 2001
756,sleepstudy,Reaction times in a sleep deprivation study

In [40]:
iris=data('iris')

In [41]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [42]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [43]:
X=iris.loc[: ,'Sepal.Length':'Petal.Length'] # Could be done with drop

In [44]:
y=iris.loc[: ,'Species']  # can be done without first argument

In [45]:
X[:10].count()

Sepal.Length    10
Sepal.Width     10
Petal.Length    10
dtype: int64

In [46]:
X[10:].count()

Sepal.Length    140
Sepal.Width     140
Petal.Length    140
dtype: int64

In [47]:
RF=RandomForestClassifier(n_estimators=10)

In [48]:
model=RF.fit(X,y)

In [49]:
type(model)

sklearn.ensemble.forest.RandomForestClassifier

In [50]:
predictions=model.predict(X)

Compare predictions with real labels

In [54]:
print(type(predictions))
print(type(y))

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [55]:
y_real=np.array(y)

In [59]:
true_predicted=np.column_stack((y_real, predictions))

In [62]:
true_predicted[:,:]

array([['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica']], dtype=object)

In [63]:
true_predicted.shape

(150, 2)

In [105]:
def split_train_test(df, test_percentage, shuffle=True):
    '''
    Splits Dataframe on train and test based on percentage
    Also shuffles data
    '''
    df=df.sample(frac=1)
    n=len(df)
    split=int(np.floor(n*test_percentage))
    test= df.iloc[:split,:]
    train=df.iloc[split:,:]
    return (train, test)

In [83]:
type(split_train_test(iris, 0.3))

tuple

In [106]:
train, test=split_train_test(iris, 0.3)

In [107]:
print(train.shape)
print(test.shape)
print(test.shape[0]/(train.shape[0]+test.shape[0]))

(105, 5)
(45, 5)
0.3

In [89]:
train.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [108]:
X_train=train.iloc[:, 0:4]
y_train=train.iloc[:,4]

In [111]:
len(X_train)

105

In [96]:
from sklearn.linear_model import LogisticRegression

In [99]:
LR= LogisticRegression()

In [112]:
model=LR.fit(X_train,y_train)

In [117]:
X_test=test.iloc[:,0:4]
y_test=test.iloc[:,4]

In [119]:
model.predict(X_test)

array(['versicolor', 'setosa', 'versicolor', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'versicolor', 'virginica', 'setosa',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'setosa', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'virginica', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'virginica'], dtype=object)

### Real output from Classification algorithm are probabilities

In [123]:
model.predict_proba(X_test)[0:2,:]

array([[  1.21458133e-01,   7.10585868e-01,   1.67955999e-01],
       [  8.78707877e-01,   1.21261106e-01,   3.10167476e-05]])

In [124]:
np.set_printoptions(suppress=True)

In [160]:
model.predict_proba(X_test)[0:2,:]

array([[ 0.12145813,  0.71058587,  0.167956  ],
       [ 0.87870788,  0.12126111,  0.00003102]])

In [130]:
prediction_probs=model.predict_proba(X_test)[0:2,:]

In [ ]:
# Replacing values arr[arr > 255] = x

#### Using argmax we can take the largest probabilities

In [135]:
pred=np.argmax(model.predict_proba(X_test), axis=1)

#### And map them to labels

In [157]:
map_labels={0:'iris', 1:'Verti', 2:'Rerto'}

In [168]:
mapped=np.array([map_labels[x] for x in pred])

In [172]:
#np.column_stack((pred, mapped))

#### But predict function does that for us

In [174]:
predictions=model.predict(X_test)

## Evaluation measures (scoring)
       - http://scikit-learn.org/stable/modules/model_evaluation.html#common-cases-predefined-values

In [176]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [175]:
accuracy_score(y_test, predictions)

0.9555555555555556

In [177]:
confusion_matrix(y_test, predictions)

array([[19,  0,  0],
       [ 0, 15,  2],
       [ 0,  0,  9]])

# Task for today
    - Download Titanic Data from Kaggle
    - Read training data to Pandas Dataframe
    - Discuss which attributes are important for survival prediction
    - Shuffle training data
    - Split the data on predictors and label (X,y)
    - Try to fit Logistic regression on training data
    - Check types and remove all categorical features
    - Remove features that you do not consider important for prediction (i.e. ids, names)
    - Remove rows that have less than 200 features with NaNs in one column
    - Remove columns that have more than 500 Nans

In [195]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [246]:
train=pd.read_csv('~/Desktop/Titanic/train.csv')

### Check dataset

In [247]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [248]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [249]:
categorical=train.select_dtypes(include=['object'])

In [250]:
categorical.describe()

                     Name   Sex  Ticket    Cabin Embarked
count                 891   891     891      204      889
unique                891     2     681      147        3
top     Coleff, Mr. Satio  male  347082  B96 B98        S
freq                    1   577       7        4      644

In [253]:
numerical.isnull().sum(axis=0)

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [251]:
numerical=train.select_dtypes(exclude=['object'])

In [254]:
numerical_withoutNan=numerical.dropna(how='any', subset=['Age'])

In [255]:
numerical_withoutNan.isnull().sum(axis=0)

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [258]:
X=numerical_withoutNan.drop(['PassengerId', 'Survived'], axis=1)
# train=train.loc[:, train.columns != 'Cabin'] This can be alternative for one feature

In [261]:
y=numerical_withoutNan['Survived']

### Initialize and fit model

In [265]:
LR = LogisticRegression()

In [266]:
lr_model=LR.fit(X,y)

In [267]:
lr_model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [268]:
lr_model.coef_

array([[-0.95904749, -0.03717529, -0.26650099,  0.22893993,  0.00530298]])

In [269]:
X.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

### Read test data

test = pd.read_csv('~/Desktop/Titanic/test.csv')

#### We can see that there is no label (Survived)

In [319]:
test.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### There are Missing values in test, but also all the attributes (not only ones that are used for modelling)

In [320]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [321]:
lr_model.predict(test)

ValueError: could not convert string to float: 'C'

In [322]:
test_1=test[['Pclass', 'Age', 'SibSp', 'Parch', 'Fare']]

In [323]:
test_1.isnull().sum()

Pclass     0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [324]:
test_1.shape[0]

418

In [325]:
np.average(test_1['Age'])

nan

In [326]:
avg_age=np.average(test_1['Age'].dropna())

In [315]:
test_1.Age.fillna(avg_age, inplace=True)

/Users/user/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:2862: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [312]:
test_1['Age']=filled

/Users/user/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [328]:
test_1.Age.replace(np.NaN, avg_age, inplace=True)

/Users/user/anaconda/lib/python3.5/site-packages/pandas/core/generic.py:3117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [329]:
test_1.isnull().sum()

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      1
dtype: int64

In [333]:
test_1.Fare.dropna(axis=0, inplace=True)

/Users/user/anaconda/lib/python3.5/site-packages/pandas/core/series.py:2546: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(result)

In [332]:
test_1.isnull().sum()

Pclass    0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64